# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Node modules
node_modules/
.npm/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# IDE files
.vscode/
.idea/
*.swp
*.code-workspace
.pyre/

# Logs
*.log
